.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  font-size: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.page-title {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.container{
  max-width: 1600px;
  margin-inline: auto;
  margin-bottom: 100px;
  padding: 1rem;
}

.session-selector {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 2rem;
  padding-left: 20px;
}

.form-select {
  background-color: transparent;
  color: #E6E6E6;
  border: 2px solid #FF1E1E;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align-last: center;
  text-align: center;
}

.form-select option {
  text-align: left;
  background: #1A1A1A;
  color: #E6E6E6;
}

.form-select:hover {
  background: #2A2A2A;
  box-shadow: 0 0 8px rgba(255, 30, 30, 0.4);
}

/* Focus du select */
.form-select:focus {
  outline: none;
  border-color: #FF4D4D;
  box-shadow: 0 0 8px rgba(255, 77, 77, 0.5);
}
