@if (raceData) {
  <div class="container">
    <div class="page-header">
      <button class="back-button" (click)="goBack()">
        <i class="fa-solid fa-arrow-left"></i>
      </button>

      <div class="titles">
        <h1 class="page-title">{{ raceData.gpName }} - {{ season }}</h1>
        <h3 class="subtitle">Manche {{ raceData.round }}</h3>
      </div>
    </div>

    @for (session of raceData.sessions; track session; let i = $index) {
      <div class="session-card {{ getSessionClass(session.name) }}">
        <div class="date">
          <div class="day">
            {{ session.utc_date + 'Z' | date:'d':'UTC' }}
          </div>
          <div class="month">
            {{ session.utc_date + 'Z' | date:'MMM':'UTC' }}
          </div>
        </div>

        <div class="separator"></div>
        <div class="session-info">
          <span class="title">
            @if (session.name.toLowerCase().includes('race') ||
                 (session.name.toLowerCase().includes('sprint') && !session.name.toLowerCase().includes('qualifying'))) {
              <i class="fa-solid fa-flag-checkered mr-1"></i>
            }
            @else if (session.name.toLowerCase().includes('qualifying')) {
              <i class="fa-solid fa-stopwatch mr-1"></i>
            }

            {{ translateSessionName(session.name, i) }}
          </span>
          <span class="time">{{ session.utc_date + 'Z' | date:'HH:mm':'UTC' }}</span>
        </div>
      </div>
    }
  </div>
}
