<div *ngIf="raceData">
  <h1>{{ raceData.raceName }} - Round {{ raceData.round }}</h1>
  <p>Circuit: {{ raceData.circuitName }}, {{ raceData.locality }}, {{ raceData.country }}</p>

  <div *ngIf="raceData.fp1Date">
    <h2>FP1</h2>
    <p>{{ raceData.fp1Date }} - {{ raceData.fp1Time }}</p>
  </div>

  <div *ngIf="raceData.fp2Date">
    <h2>FP2</h2>
    <p>{{ raceData.fp2Date }} - {{ raceData.fp2Time }}</p>
  </div>

  <div *ngIf="raceData.fp1Date">
    <h2>FP3</h2>
    <p>{{ raceData.fp3Date }} - {{ raceData.fp3Time }}</p>
  </div>

  <div *ngIf="raceData.qualiDate">
    <h2>Qualifying</h2>
    <p>{{ raceData.qualiDate }} - {{ raceData.qualiTime }}</p>
  </div>

  <div *ngIf="raceData.sprintDate">
    <h2>Sprint</h2>
    <p>{{ raceData.sprintDate }} - {{ raceData.sprintTime }}</p>
  </div>

  <div *ngIf="raceData.date">
    <h2>Race</h2>
    <p>{{ raceData.date }} - {{ raceData.time }}</p>
  </div>
</div>
