.driver-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.flag-icon {
  font-size: 3rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

.driver {
  position: relative;
  min-width: 300px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  padding: 25px;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.driver::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background: var(--team-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: width 0.3s ease;
}

.driver-number {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 4rem;
  font-weight: 800;
  color: var(--driver-number, var(--team-color));
}

.driver-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.driver-team {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 15px;
}


.mercedes {
  --team-color: #00d2be;
  .driver-number {
    color: #000000;
    -webkit-text-stroke: 2px white;
  }
}

.ferrari {
  --team-color: #dc0000;
}

.red_bull {
  --team-color: #1e41ff;
  --driver-number : #d41027;
}

.mclaren {
  --team-color: #ff8700;
  --driver-number: #ff8700;
}

.aston_martin {
  --team-color: #006f62;
  --driver-number : #358E75 ;
}

.alpine {
  --team-color: #2293d1;
}

.haas {
  --team-color: #ffffff;
  --driver-number : #D3172B;
}

.rb {
  --team-color: #6692ff;
  .driver-number {
    color: #fff;
    -webkit-text-stroke: 2px var(--team-color);
  }
}

.williams {
  --team-color: #005aff;
}

.sauber {
  --team-color: #52e252;
}
