<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css"/>

<h1 class="page-title">Calendrier saison - {{ selectedYear }}</h1>

<app-year-selector
  [years]="years"
  [(selectedYear)]="selectedYear"
  (selectedYearChange)="getRaces()">
</app-year-selector>

<div class="container">
  @for (race of raceList; track raceList){
    <div [routerLink]="race.isFinished
        ? ['/race', selectedYear, slugify(race.gpName), 'results']
        : ['/race', selectedYear, slugify(race.gpName), 'details']"
      [state]="{ round: race.round, race: race.gpName }"
      class="card">

      @if (race.eventFormat === "sprint_qualifying"){
        <span class="sprint-badge">SPRINT</span>
      }
      <div class="card-header">
        <div class="card-round">Manche {{ race.round }}</div>
        <div class="card-date">
          <i class="fa-solid fa-flag-checkered"></i> {{ race.eventDate }}
        </div>
      </div>
      <div class="card-content">
        <div class="card-flag">
          <span [class]="'fi fi-' + getFlagClass(race.country)"></span>
        </div>
        <div class="card-text">
          <h2 class="card-title">{{ race.gpName }}</h2>
          <div class="card-locality">{{ race.location }}</div>
        </div>
      </div>
  </div>
  }
</div>

