.page-title {
  color: #E6E6E6;
  text-align: center;
  padding: 20px;
  margin-bottom: 25px;
  font-size: 2.2rem;
  font-weight: bold;
}

.container{
  max-width: 1600px;
  margin-inline: auto;
  margin-bottom: 100px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card{
  padding: 15px;
  border-radius: 12px;
  background-color: #010102;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
}

.card-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.card-round{
  font-weight: 600;
  color: #A0A0A0;
}

.card-date{
  color: #FF1E1E;
}

.card-date i{
  color: #E6E6E6;
  margin-right: 5px;
}

.card-content{
  display: flex;
  align-items: center;
}

.card-flag{
  font-size: 4rem;
  margin-right: 10px;
}

.card-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.card-locality {
  font-size: 0.9rem;
  margin-top: 4px;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-flag {
    font-size: 3rem;
  }

  .card-title {
    font-size: 1.3rem;
  }
}

/* Mobile : 1 colonne */
@media (max-width: 640px) {
  .container {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 12px;
  }

  .card-header {
    gap: 5px;
  }

  .card-content {
    flex-direction: row;
    align-items: center;
  }

  .card-flag {
    font-size: 2.8rem;
    margin-right: 8px;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-locality {
    font-size: 0.85rem;
  }
}
