.row-item {
  height: 42px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 15px;
  background: rgba(255,255,255,0.03);
  border-radius: 10px;
  transition: transform 0.2s, background-color 0.2s;
  border-left: 5px solid transparent;
}

.row-item:hover {
  background: rgba(255,255,255,0.06);
  transform: translateX(5px);
}

.rank-1 { border-left-color: #f5c400; }
.rank-2 { border-left-color: #c0c0c0; }
.rank-3 { border-left-color: #cd7f32; }

.rank-box {
  font-weight: 900;
  font-size: 1.2rem;
  width: 25px;
  text-align: center;
  color: #fff;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.name {
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 1px;
}

.sub-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mini-logo {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.team-name {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #8d9096;
  letter-spacing: 1px;
}

.points-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.main-points {
  font-weight: 800;
  font-size: 1.1rem;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  line-height: 1;
}

.small-points {
  font-size: 1rem;
  color: #666;
}

.diff-points {
  font-size: 0.85rem;
  color: #666;
  font-weight: 600;
  margin-top: 4px;
}

@media (max-width: 900px) {
  .row-item { padding: 10px; }

  .name { font-size: 0.9rem; }

  .main-points { font-size: 1rem; }

  .loading-wrapper{
    min-height: 278px;
  }
}
