<div class="team-stats">
  <div class="stat-container">
    <div class="team-standing">
      <h2>Classement championnat</h2>
      <div class="team-position" [ngClass]="'pos-' + team.position">
        <span class="pos">{{ team.position }}{{ team.position == '1' ? 'er' : 'ème' }}</span>
        <span class="points">{{ +team.points }} pts</span>
      </div>
    </div>

    <h2 class="stat-title">Grand Prix statistique</h2>
    <div class="race-stat">
      <div class="race-win">
        <span>Victoire Grand Prix</span>
        <span>{{ team.win }}</span>
      </div>

      <div class="sprint-podium">
        <span>Podium</span>
        <span>{{ team.podium }}</span>
      </div>

      <div class="sprint-pole">
        <span>Pôle position</span>
        <span>{{ team.pole }}</span>
      </div>

      <div class="top10">
        <span>Top 10</span>
        <span>{{ team.top10 }}</span>
      </div>

      <div class="race-avg-pos">
        <span>Arivée moyenne en course</span>
        <span>{{ team.avg_race_finish }}</span>
      </div>

      <div class="quali-avg-pos">
        <span>Arivée moyenne en qualification</span>
        <span>{{ team.avg_qualifying_finish }}</span>
      </div>

      <div class="dnf">
        <span>Abandon</span>
        <span>{{ team.dnf }}</span>
      </div>
    </div>

    <h2 class="stat-title">Sprint statistique</h2>
    <div class="sprint-stat">
      <div class="sprint-win">
        <span>Victoire course Sprint</span>
        <span>{{ team.sprint_win }}</span>
      </div>

      <div class="sprint-podium">
        <span>Podium course Sprint</span>
        <span>{{ team.sprint_podium }}</span>
      </div>

      <div class="sprint-pole">
        <span>Pôle position Sprint</span>
        <span>{{ team.sprint_pole }}</span>
      </div>
    </div>
  </div>
</div>
