.race-stat,
.sprint-stat{
  padding: 0 40px 50px;
}

.race-stat > div,
.sprint-stat > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.race-stat span:first-child,
.sprint-stat span:first-child {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 1px;
}

.race-stat span:last-child,
.sprint-stat span:last-child{
  font-size: 1.2rem;
  font-weight: 700;
}

.race-stat > div:last-child,
.sprint-stat > div:last-child {
  border-bottom: none;
}

.stat-container{
  padding: 0 25px;
}

.section-title{
  margin-left: 15px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  border-left: 5px solid #FF1E1E;
  padding-left: 15px;
}

@media (max-width: 900px) {
  .race-stat span:first-child {
    font-size: 0.85rem;
  }
  .race-stat span:last-child {
    font-size: 1.1rem;
  }

  .team-standing{
    padding-bottom: 25px;
  }

  .team-stats{
    padding: 0;
  }

  .team-position{
    padding: 0;
  }

  .race-stat{
    padding: 0 15px 25px;
  }

  .sprint-stat{
    padding: 0 15px;
  }
}
