<app-page-header
  [title]="'Équipes'"
  [subtitle]="'Saison - ' + selectedYear"
  [years]="years"
  [selectedYear]="selectedYear"
  [isInline]="true"
  (selectedYearChange)="onYearChange($event)">
</app-page-header>

<div class="container">
  @if (isLoading) {
    @for (i of [].constructor(10); track $index) {
      <app-loading style="height: 260px;"></app-loading>
    }
  }
  @else {
    @for (team of teamList; track team.constructorId){
      <a routerLink='{{ selectedYear }}/{{ team.constructorId }}' class="link">
        <app-team-card
          [team]="team">
        </app-team-card>
      </a>
    }
  }
</div>

<app-scroll-top></app-scroll-top>
