<app-page-header
  [title]="'Équipes'"
  [subtitle]="'Saison - ' + selectedYear"
  [years]="years"
  [selectedYear]="selectedYear"
  (selectedYearChange)="onYearChange($event)">
</app-page-header>

<div class="container">

  <!-- CAS CHARGEMENT : Affiche 10 squelettes (nombre moyen d'équipes) -->
  @if (isLoading) {
    @for (i of [].constructor(10); track $index) {
      <!-- On fixe la hauteur pour matcher la vraie carte TeamCard -->
      <app-loading style="height: 260px;"></app-loading>
    }
  }

  @else {
    @for (team of teamList; track team.constructorId){
      <a routerLink='{{ selectedYear }}/{{ team.constructorId }}' class="link">
        <app-team-card
          [team]="team">
        </app-team-card>
      </a>
    }
  }

</div>
