.container {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 40px 20px 100px 20px;
}

.link {
  text-decoration: none;
  color: #e6e6e6;
  display: block;
  height: 100%;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-bottom: 100px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 20px 30px 80px 30px;
    gap: 1.5rem;
  }
}
