.container{
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem ;
  padding-bottom: 150px;
}

.link{
  text-decoration: none;
  color: #e6e6e6;
}
