<div class="race-info">
  <div class="card winner">
    <div class="card-header">
      <div class="card-header-name">Vainqueur</div>
      <span class="material-symbols-outlined">trophy</span>
    </div>
    <div class="card-main">
      <div class="card-driver">
        <img src="/logos/{{ winner?.team_id }}.avif" class="team-logo">
        <span class="driver-name">{{ winner?.driver }}</span>
      </div>
      <div class="card-time">
        {{ winner.time }}
      </div>
    </div>
  </div>

  <div class="card pole">
    <div class="card-header">
      <div class="card-header-name">Pole Position</div>
      <span class="material-symbols-outlined">timer</span>
    </div>
    <div class="card-main">
      <div class="card-driver">
        <img src="/logos/{{ winner.team_id }}.avif" class="team-logo">
        <span class="driver-name">{{ poleman?.driver }}</span>
      </div>
      <div class="card-time">
        {{ poleman?.time }}
      </div>
    </div>
  </div>

  <div class="card fastestLap">
    <div class="card-header">
      <div class="card-header-name">Meilleur Tour</div>
      <span class="material-symbols-outlined">timer</span>
    </div>
    <div class="card-main">
      <div class="card-driver">
        <img src="/logos/{{ winner.team_id }}.avif" class="team-logo">
        <span class="driver-name">{{ fastestLap?.driver }}</span>
      </div>
      <div class="card-time">
        {{ fastestLap?.time }}
      </div>
    </div>
  </div>
</div>
