.race-info{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.card{
  border: solid 3px #21232b;
  border-radius: 12px;
  width: 100vh;
  height: 10vh;
}

.card-header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card-driver{
  padding: 10px 0;
  display: flex;
  gap: 10px;
}

.driver{
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 600;
}

.card-header-name{
  color: #b3b3b3;
}

.card-main{
  padding: 0 10px;
}

.card-driver{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 7px;
}

.card-time{
  padding-left: 5px;
  color: #b3b3b3;
}
