<app-page-header
  [title]="'Calendrier et Résultats'"
  [subtitle]="'saison - '+ selectedYear"
  [years]="years"
  [selectedYear]="selectedYear"
  (selectedYearChange)="onYearChange($event)">
</app-page-header>

<div class="container">
  @for (race of raceList; track race.gpName){
    <a [routerLink]="race.isFinished
        ? ['/race', selectedYear, slugify(race.gpName), 'results']
        : ['/race', selectedYear, slugify(race.gpName), 'details']"
       [state]="{ round: race.round, race: race.gpName }">
      <app-race-card
        [race]="race">
      </app-race-card>
    </a>
  }
</div>

