.container{
  max-width: 1600px;
  margin-inline: auto;
  margin-bottom: 100px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.container a{
  text-decoration: none;
  color: inherit;
}


@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-flag {
    font-size: 3rem;
  }

  .card-title {
    font-size: 1.3rem;
  }
}

/* Mobile : 1 colonne */
@media (max-width: 640px) {
  .container {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 12px;
  }

  .driver {
    gap: 5px;
  }

  .card-content {
    flex-direction: row;
    align-items: center;
  }

  .card-flag {
    font-size: 2.8rem;
    margin-right: 8px;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-locality {
    font-size: 0.85rem;
  }
}
