@font-face {
  font-family: 'logo_font';
  src: url('../../../../../public/fonts/TechnoRace-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
  background-color: #0e101b;
  color: #E6E6E6;
}

#links{
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  font-weight: 700;
}

.link{
  cursor: pointer;
  text-decoration: none;
  color: #E6E6E6;
  transition: color 0.2s;
  padding-bottom: 20px;

  &:hover{
    color: #FF1E1E;
    border-bottom: 2px solid #FF1E1E;
  }
  &.active{
    border-bottom: 2px solid #FF1E1E;
  }
}

#logo a{
  font-size: 2.5rem;
  font-family: logo_font, serif;
  text-decoration: none;
  color: #E6E6E6;
}
