<div class="header">
  <div id="container">
    <div id="logo">
      <a routerLink="home">
        Race Query
      </a>
    </div>
    <nav id="links">
      <a routerLink="home" routerLinkActive="active" class="link">Acceuil</a>

      <div class="dropdown">
        <span class="link dropdown-trigger">Classements</span>
        <div class="dropdown-content">
          <a routerLink="driver/standings" routerLinkActive="active">Pilotes</a>
          <a routerLink="team/standings" routerLinkActive="active">Équipes</a>
        </div>
      </div>
      <a routerLink="drivers" routerLinkActive="active" class="link">Pilotes</a>
      <a routerLink="teams" routerLinkActive="active" class="link">Équipes</a>
      <a routerLink="races" routerLinkActive="active" class="link">Courses</a>
    </nav>
  </div>
</div>
