@font-face {
  font-family: 'logo_font';
  src: url('../../../../../public/fonts/TechnoRace-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.header{
  padding: 30px;
  background-color: #0e101b;
  color: #E6E6E6;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: auto;
}

#logo a{
  font-size: 2.5rem;
  font-family: logo_font, serif;
  text-decoration: none;
  color: #E6E6E6;
}
