@if (race) {
  <div class="container">
    <div class="page-header">
      <app-go-back-button></app-go-back-button>

      <div class="titles">
        <h1 class="page-title">{{ race.gpName }} - {{ season }}</h1>
        <h3 class="subtitle">Manche {{ race.round }}</h3>
      </div>
    </div>

    @for (session of race.sessions; track session; let i = $index) {
      <app-race-detail-card
      [sessionName]="session.name"
      [sessionDate]="session.utc_date"
      [ind]="i">
      </app-race-detail-card>
    }
  </div>
}
