.dashboard-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 30px 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dash-title {
  font-size: 2.2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  border-left: 5px solid #FF1E1E;
  padding-left: 20px;
}

.next-race-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.standings-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
}

@media (max-width: 1200px) {
  .standings-grid {
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .dash-title{
    font-size: 1.75rem;
  }

  .standings-grid {
    grid-template-columns: 1fr;
  }

  .dashboard-container {
    padding: 20px 15px 60px;
  }
}
