<div class="dashboard-container">
  <div class="dashboard-header">
    <h1 class="dash-title">Acceuil</h1>
    <app-year-selector
      [years]="years"
      [selectedYear]="selectedYear"
      (selectedYearChange)="onYearChange($event)">
    </app-year-selector>
  </div>

  <div class="section-full">
    <app-race-schedule
      [races]="lastRaces"
      [year]="selectedYear">
    </app-race-schedule>
  </div>

  <div class="standings-grid">
    <div class="standing-col">
      <app-top-standings [type]="'drivers'" [top5]="top5Drivers" [isLoading]="isLoading"></app-top-standings>
    </div>

    <div class="standing-col">
      <app-top-standings [type]="'teams'" [top5]="top5Teams" [isLoading]="isLoading"></app-top-standings>
    </div>
  </div>
</div>
