<app-card
  [title]="title"
  [isLoading]="isLoading">

  <i card-icon class="fa-solid fa-flag-checkered"></i>

  <div class="race-grid">
    @for (race of races; track race.round) {
      <a [routerLink]="race.isFinished
        ? ['/races', year, slugify(race.gpName), 'results']
        : ['/races', year, slugify(race.gpName), 'details']"
         [state]="{ round: race.round, race: race.gpName }"
         class="race-link">

        <app-comming-races-card [race]="race"></app-comming-races-card>

      </a>
    }
  </div>
</app-card>
