app-loading{
  min-height: 140px;
  border-radius: 12px;
}

.race-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 25px;
}

.race-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

@media (max-width: 900px) {
  .race-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
