.container{
  margin: auto;
  max-width: 1600px;
}

.section-title{
  margin-left: 40px;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -1px;
  color: white;
}

.separator {
  display: block;
  width: 80%;
  height: 8px;
  margin: 50px auto;
  background: #ff1e00;
}

.driver-section{
  padding: 0 0 50px 0;
}
