<div class="container">
  @if (team){
    <app-team-banner
    [team]="team">
    </app-team-banner>

    <h1 class="section-title">Pilotes</h1>
    <div class="driver-section">
      @for (driver of team.Team.drivers; track driver.driverId) {
        <a [routerLink]="['/drivers', year, driver.driverId]" class="link">
          <app-team-driver-card
            [driver]="driver">
          </app-team-driver-card>
        </a>
      }
    </div>

    <span class="separator" [ngClass]="team.Team.constructorId"></span>

    <div class="team-resume">
      <h1 class="section-title">Saison - {{ year }}</h1>
      <div class="team-standing">
        <h2>Classement championnat</h2>
        <div class="team-position" [ngClass]="'pos-' + team.position">
          <span class="pos">{{ team.position }}{{ team.position == '1' ? 'er' : 'ème' }}</span>
          <span class="points">{{ +team.points }} pts</span>
        </div>
      </div>
    </div>

    <app-team-stats
    [team]="team">
    </app-team-stats>
  }
</div>


