.container{
  margin: auto;
  max-width: 1600px;
  padding-bottom: 100px;
}

.section-title{
  margin: 25px 0 0 15px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  border-left: 5px solid #FF1E1E;
  padding-left: 15px;
}

.separator {
  display: block;
  width: 80%;
  height: 8px;
  margin: 50px auto;
  background: var(--team-color);
}

.driver-section{
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.link{
  text-decoration: none;
  color: inherit;
}

.team-resume{
  padding: 10px 0 30px;
}

.pos-1 .pos {
  background: linear-gradient(45deg, #ffd700, #ffef8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pos-2 .pos {
  background: linear-gradient(45deg, #c0c0c0, #f5f5f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pos-3 .pos {
  background: linear-gradient(45deg, #CD7F32, #cd9054);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team-standing{
  padding: 0 25px;
}

.team-stats {
  padding: 10px 35px;
}

.team-position {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 40px;
}

.pos {
  font-size: 2.5rem;
  font-weight: 850;
}

.points {
  font-size: 2.5rem;
  font-weight: 850;
  color: rgba(163, 163, 163, 0.69);
}


@media (max-width: 900px) {
  .driver-section{
    gap: 2rem;
  }

  .team-position{
    padding: 0;
  }

  .team-resume{
    padding-top: 0;
  }
}

.mercedes { --team-color: #00d2be; }
.ferrari { --team-color: #dc0000; }
.red_bull { --team-color: #1e41ff; }
.mclaren { --team-color: #ff8700; }
.aston_martin { --team-color: #006f62; }
.alpine { --team-color: #2293d1; }
.haas { --team-color: #ffffff; }
.rb { --team-color: #6692ff; }
.williams { --team-color: #005aff; }
.sauber { --team-color: #52e252; }
.alfa { --team-color: #88172a; }
.alphatauri { --team-color: #002841; }
