<div class="container">
  @if (team){
    <app-team-banner
    [team]="team">
    </app-team-banner>

    <h1 class="section-title">Pilotes</h1>
    <div class="driver-section">
      @for (driver of team.Team.drivers; track driver.driverId) {
        <a [routerLink]="['/drivers', year, driver.driverId]" class="link">
          <app-team-driver-card
            [driver]="driver">
          </app-team-driver-card>
        </a>
      }
    </div>

    <span class="separator" [ngClass]="team.Team.constructorId"></span>

    <h1 class="section-title">Statistique - {{ year }}</h1>
    <app-team-stats
    [team]="team">
    </app-team-stats>
  }
</div>


