<div class="container">
  <app-go-back-button></app-go-back-button>

  @if (team){
    <div class="team-info">
      <h1 class="team-name">{{ team.Team.constructorName }}</h1>
      <img src="{{ TEAMS_INFO[team.Team.constructorName].logo }}" alt="{{ team.Team.constructorName }}">
      <span class="fi fi-{{ NATIONALITY_TO_ISO[team.Team.nationality] }} flag-icon"></span>
    </div>

    <div class="team-drivers">
      <h1 class="section-title">Pilotes</h1>

      <div class="driver-container">
        @for (driver of team.Team.drivers; track driver){
          <a class="link">
            <div class="driver" [ngClass]="team.Team.constructorId">
              <div class="driver-name">
                <span>{{ driver.fullName }}</span>
              </div>
              <div class="driver-team">
                <span>{{ team.Team.constructorName }}</span>
              </div>
              <div class="driver-nationality">
                <span class="fi fi-{{ NATIONALITY_TO_ISO[driver.nationality] }} flag-icon"></span>
              </div>
              <div class="driver-number">
                <span>{{ driver.driverNumber }}</span>
              </div>
            </div>
          </a>
        }
      </div>
    </div>

    <div class="team-stats">
      <h1 class="section-title">Statistique saison - {{ year }}</h1>

      <div class="stat-container">
        <div class="team-standing">
          <div class="team-position">
            <span>Classement championnat</span>
            <span>{{ team.position }}   {{ team.position === '1' ? 'er' : 'ème' }}</span>
            <span>{{ +team.points }} points</span>
          </div>

          <div class="race-stat">
            <h3 class="stat-title">Course statistique</h3>
            <div class="race-win">
              <span>Victoire course</span>
              <span>{{ team.win }}</span>
            </div>

            <div class="sprint-podium">
              <span>Podium course</span>
              <span>{{ team.podium }}</span>
            </div>

            <div class="sprint-pole">
              <span>Pôle position</span>
              <span>{{ team.pole }}</span>
            </div>

            <div class="top10">
              <span>Nombre de Top 10</span>
              <span>{{ team.top10 }}</span>
            </div>

            <div class="race-avg-pos">
              <span>Arivée moyenne en course</span>
              <span>{{ team.avg_race_finish }}</span>
            </div>

            <div class="quali-avg-pos">
              <span>Arivée moyenne en qualification</span>
              <span>{{ team.avg_qualifying_finish }}</span>
            </div>

            <div class="dnf">
              <span>Nombre d'abandon</span>
              <span>{{ team.dnf }}</span>
            </div>
          </div>

          <div class="sprint-stat">
            <h3 class="stat-title">Course Sprint statistique</h3>
            <div class="sprint-win">
              <span>Victoire course Sprint</span>
              <span>{{ team.sprint_win }}</span>
            </div>

            <div class="sprint-podium">
              <span>Podium course Sprint</span>
              <span>{{ team.sprint_podium }}</span>
            </div>

            <div class="sprint-pole">
              <span>Pôle position Sprint</span>
              <span>{{ team.sprint_pole }}</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  }
</div>


