<div class="team-card" >
  @if (team){
    <div class="card-header" [ngClass]="team.constructorId">
      <div class="card-container">
        <div class="info-team">
          <h1 class="team-name">{{ team.constructorName }}</h1>
          <img [ngClass]="team.constructorId"
               src="/logos/{{ team.constructorId }}.svg"
               alt="{{ team.constructorName }}">
        </div>

        <div class="team-drivers">
          <div class="driver1">
            <span class="driver-name">{{ team.drivers[0].fullName }}</span>
          </div>
          <span class="separator"> | </span>
          <div class="driver2">
            <span class="driver-name">{{ team.drivers[1].fullName }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="team-car" [ngClass]="team.constructorId">
      <img src="/team-car/{{ getYear() }}/{{ team.constructorId }}.avif" alt="{{ team.constructorId }} car">
    </div>
  }
</div>
