<div class="card" [class.is-sprint]="race.eventFormat.includes('sprint')">

  @if (race.eventFormat.includes("sprint")){
    <span class="sprint-badge">
      Sprint
    </span>
  }

  <div class="card-header">
    <div class="card-round">Manche {{ race.round }}</div>
    <div class="card-date">
      <i class="fa-solid fa-flag-checkered"></i> {{ race.eventDate }}
    </div>
  </div>

  <div class="card-content">
    <div class="card-flag">
      <span [class]="'fi fi-' + NAME_TO_ISO[race.country]"></span>
    </div>
    <div class="card-text">
      <h2 class="card-title">{{ race.gpName }}</h2>
      <div class="card-locality">{{ race.location }}</div>
    </div>
  </div>
</div>
