.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 10px 20px 100px 20px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 2fr));
  gap: 2rem;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 10px 20px 100px 20px;
  }
}
