<app-page-header
  [title]="'Pilotes'"
  [subtitle]="'Saison - ' + selectedYear"
  [years]="years"
  [selectedYear]="selectedYear"
  (selectedYearChange)="onYearChange($event)">
</app-page-header>

<div class="container">
  @if (isLoading) {
    @for (i of [].constructor(20); track $index) {
      <app-loading style="height: 160px;"></app-loading>
    }
  }
  @else {
    @for (driver of drivers; track driver.driverId) {
      <a [routerLink]="['/drivers', selectedYear, driver.driverId]" class="link">
        <app-driver-card [driver]="driver"></app-driver-card>
      </a>
    }
  }
</div>
