.position-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.team-badge {
  width: 8px;
  height: 22px;
  border-radius: 25%;
  display: inline-block;
}

.position-number {
  font-weight: 600;
  color: #fff;
}
