.table{
  margin: 0 auto;
  width: 100%;
  background-color: #2b2b37;
  overflow: hidden;
  border-collapse: collapse;
  box-sizing: border-box;
}

.head-title th{
  padding: 20px 18px;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.05rem;
  border-bottom: 4px solid #ff1e1e;
}

td {
  padding: 15px 10px;
  font-size: 1.15rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

tbody tr {
  transition: background-color 0.2s;
}

tbody tr:hover {
  background-color: #151622;
}

.position-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.position-number {
  color: #fff;
  margin-left: 5px;
}

.team-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team-logo {
  width: 40px;
  height: 38px;
  object-fit: contain;
  display: block;
}

.team-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
