.table{
  margin: 0 auto;
  width: 100%;
}

.position-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.team-badge {
  width: 5px;
  height: 20px;
  border-radius: 15%;
  display: inline-block;
}

.position-number {
  font-weight: 600;
  color: #fff;
}
