.table{
  margin: 0 auto;
  width: 100%;
  border-radius: 10px;
  background-color: #2b2b37;
  overflow: hidden;
  border-collapse: collapse;
  box-sizing: border-box;
}

.head-title th{
  padding: 20px;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.15rem;
  background-color: #202029;
  border-bottom: 4px solid #ff1e1e;
}

td {
  padding: 15px 10px;
  font-size: 1.15rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.txt-center,
.head-title th:nth-child(4),
.head-title th:nth-child(5),
.head-title th:nth-child(6){
  text-align: center;
}

tbody tr {
  transition: background-color 0.2s;
}

tbody tr:hover {
  background-color: #151622;
}

.position-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.position-number {
  color: #fff;
  margin-left: 5px;
}

.team-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team-logo {
  width: 40px;
  height: 38px;
  object-fit: contain;
  display: block;
}

.team-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.evo-positive {
  color: #00ff00;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 2px;
  padding-left: 15px;
}

.evo-negative {
  color: #ff0000;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 2px;
  padding-left: 15px;
}

