/* ========== CARD ========== */
.session-card {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
  color: #E6E6E6;
  padding: 35px 20px;
  transition: background-color 0.3s ease-in-out;
  flex-wrap: wrap;
}

.session-card:hover {
  background-color: #2b2b37;
}

/* ========== DATE ========== */
.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 15px;
  width: 50px;
  min-width: 50px;
}

.date .day {
  font-size: 1.5rem;
  line-height: 1;
}

.date .month {
  font-size: 1rem;
}

/* ========== SEPARATEUR ========== */
.separator {
  width: 2px;
  height: 50px;
  background-color: #333;
  margin-right: 15px;
}

/* ========== INFOS SESSION ========== */
.session-info {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
}

.session-info .title {
  padding-left: 10px;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.session-info i{
  padding-right: 10px;
}

.session-info .time {
  font-weight: 700;
  color: #ccc;
  font-size: 1.3rem;
  padding-right: 20px;
}

/* ========== COULEURS SELON TYPE ========== */
.session-card.free-practice { border-left: 13px solid #E6E6E6; }
.session-card.sprint { border-left: 13px solid #145bc6; }
.session-card.quali { border-left: 13px solid #9a4dff; }
.session-card.race { border-left: 13px solid #ff2a2a; }
