<div class="table-container">
  <table class="table-common" [ngClass]="tableType + '-table'">
    <thead>
    <tr>
      @for (col of columns; track col) {
        <th>{{ col }}</th>
      }
    </tr>
    </thead>
    <tbody>
      @for (row of data; track $index) {
        <tr>
          @if (columns.includes('Pos')) {
            <td>{{ row.position }}</td>
          }

          @if (columns.includes('Pilote') && row.driver) {
            <td class="driver-cell">
              <span class="fi fi-{{ getDriverFlag(row.driver.nationality) }} flag-icon"></span>
              <span class="driver-fullname">{{ row.driver.fullName }}</span>
              <span class="driver-lastname">{{ getLastName(row.driver.fullName) }}</span>
            </td>
          }

          @if (columns.includes('Écurie')) {
            <td>
              <div class="team-wrapper">
                @if (row.driver) {
                  <img [src]="TEAMS_INFO[row.team].logo" width="40" height="24"
                       alt="{{ row.team }}" class="team-logo">
                  <span class="team-name">{{ row.team }}</span>
                }
                @if (row.Team) {
                  <img [src]="TEAMS_INFO[row.Team.constructorName]?.logo" width="40" height="24"
                       alt="{{ row.Team.constructorName }}" class="team-logo">
                  <span class="team-name">{{ row.Team.constructorName }}</span>
                }
              </div>
            </td>

          }

          @if (columns.includes('Points')) {
            <td>
              <span class="points-wrapper">
                {{ +row.points }}
                @if (row.points_diff > 0) {
                  <span id="diff-points"> -{{ +row.points_diff }} </span>
                }
              </span>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>

