<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css"
/>

<div class="table-container">
  <table class="table-common" [ngClass]="tableType + '-table'">
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; let i = index">

        <td *ngIf="columns.includes('Pos')">{{ row.Pos }}</td>

        <td *ngIf="columns.includes('Pilote') && row.driver">
          <span class="fi fi-{{ getDriverFlag(row.driver.nationality) }} flag-icon"></span>
          {{ row.driver.fullName }}
        </td>

        <td *ngIf="columns.includes('Ecurie') && row.teamLogo">
          <div class="team-wrapper">
            <img [src]="row.teamLogo" width="40" height="24" alt="{{ row.constructor }}" class="team-logo">
            <span class="team-name">{{ row.constructor }}</span>
          </div>
        </td>

        <td *ngIf="columns.includes('Points')">
          <span class="points-wrapper">
            {{ row.Points }}
            <span *ngIf="row.PointsDiff > 0" id="diff-points"> -{{ row.PointsDiff }} </span>
          </span>
        </td>

      </tr>
    </tbody>
  </table>
</div>

