.page-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: auto;
  padding: 30px;
}

.page-title {
  color: #E6E6E6;
  text-align: center;
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-weight: bold;
}

.page-header-text h3{
  color: #A0A0A0;
  font-size: 1.5rem;
}
