#links{
  display: flex;
  gap: 20px;
  font-size: 1.25rem;
  font-weight: 700;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: #E6E6E6;
  transition: color 0.2s;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.link:hover, .link.active {
  color: #FF1E1E;
  border-bottom: 2px solid #FF1E1E;
}


.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.dropdown-trigger {
  cursor: default;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1c1f2e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  border-radius: 4px;
  margin-top: 10px;
}

.dropdown-content::before {
  content: "";
  position: absolute;

  bottom: 100%;
  left: 0;

  width: 100%;

  height: 15px;

  background-color: transparent;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #E6E6E6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  text-align: center;
  transition: background 0.2s;
}

.dropdown-content a:hover {
  background-color: #2a2d3e;
  color: #FF1E1E;
}

.dropdown-content a.active {
  color: #FF1E1E;
  font-weight: bold;
}
