<nav id="nav">
  <button class="burger" (click)="toggleMenu()" [class.active]="isMenuOpen">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="menu" [class.is-open]="isMenuOpen">
    <a routerLink="home" class="menu-item" routerLinkActive="active" (click)="closeMenu()">Acceuil</a>

    <div class="dropdown">
      <span class="menu-item link dropdown-trigger">Classements</span>
      <div class="dropdown-content">
        <a routerLink="driver/standings" routerLinkActive="active" (click)="closeMenu()">Classement Pilotes</a>
        <a routerLink="team/standings" routerLinkActive="active" (click)="closeMenu()">Classement Équipes</a>
      </div>
    </div>

    <a routerLink="pilotes" class="menu-item" routerLinkActive="active" (click)="closeMenu()">Pilotes</a>
    <a routerLink="teams" class="menu-item" routerLinkActive="active" (click)="closeMenu()">Équipe</a>
    <a routerLink="races" class="menu-item" routerLinkActive="active" (click)="closeMenu()">Courses</a>
  </div>
</nav>
