<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<div class="footer site-footer">
  <div class="footer-container">
    <div id="logo">
      <a routerLink="home">
        Race Query
      </a>
    </div>

    <div id="links-list">
      <h3>Navigation</h3>
      <div routerLink="home" routerLinkActive="active" class="link">Accueil</div>
      <div routerLink="driver/standings" routerLinkActive="active" class="link">Pilotes</div>
      <div routerLink="team/standings" routerLinkActive="active" class="link">Équipes</div>
      <div routerLink="races" routerLinkActive="active" class="link">Courses</div>
    </div>

    <div id="socials">
      <a href="https://github.com/bsy44" target="_blank" class="social-link">
        <i class="fab fa-github"></i> GitHub
      </a>
      <a href="https://www.formula1.com/" target="_blank" class="social-link">
        F1 Officiel
      </a>
    </div>
  </div>

  <div class="copyright">
    <span>Non affilié à la F1</span>
    <span>&copy; Race Query {{currentYear}}</span>
    <span>Réalisé par Boubacar Sy</span>
  </div>
</div>

