@font-face {
  font-family: 'logo_font';
  src: url('../../../../../public/fonts/TechnoRace-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.site-footer {
  background-color: #0b0d15;
  color: #a0a0a0;
  font-size: 0.95rem;
  border-top: 4px solid #FF1E1E;
  margin-top: auto;
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

.footer-logo  {
  font-family: 'logo_font', sans-serif;
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
  letter-spacing: 1px;

  a{
    color: #fff;
    text-decoration: none;
  }
}

.footer-desc {
  margin-bottom: 20px;
  line-height: 1.6;
  max-width: 400px;
}

.disclaimer {
  max-width: 300px;
  font-size: 0.8rem;
  color: #5c5c5c;
  font-style: italic;
  margin-top: 10px;
  line-height: 1.4;
}

.footer-title {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-weight: 800;
  position: relative;
  display: inline-block;
}

.footer-links {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 12px;
}

.footer-links a {
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #e0e0e0;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.footer-links a:hover {
  color: #FF1E1E;
  transform: translateX(5px);
}

.footer-links i {
  font-size: 1.1rem;
  width: 20px;
  text-align: center;
  color: white;
}

.footer-bottom {
  display: flex;
  background-color: #030507;
  padding: 20px 30px;
  border-top: 1px solid rgba(255,255,255,0.05);
  font-size: 0.85rem;
}

.footer-bottom .container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.version {
  color: #444;
  font-family: monospace;
}

.brand-col {
  align-items: flex-start;
}

@media (max-width: 968px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .brand-col {
    grid-column: span 2;
    align-self: center;
  }

  .footer-logo a, .footer-desc, .disclaimer {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-title::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-col {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 50px;
  }

  .brand-col {
    align-items: center;
    grid-column: span 1;
  }

  .footer-bottom .container {
    flex-direction: column;
    gap: 10px;
  }
}
