/* Titre de la page */
.page-title {
  color: #E6E6E6;
  text-align: center;
  margin-bottom: 25px;
  font-size: 2.2rem;
  font-weight: bold;
}

/* Container du tableau */
.table-container {
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.teams-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  color: #E6E6E6;
  background-color: #181818;
  font-size: 1.1rem;
  table-layout: auto;
}


/* En-tête */
.teams-table thead {
  background-color: #0D0D0D;
  border-bottom: 3px solid #FF1E1E; /* Ligne plus épaisse */
}

.teams-table th {
  padding: 20px 8px;
  text-align: left;
  font-weight: 700;
  font-size: 1.05rem;
  text-transform: uppercase;
  color: #E6E6E6;
  border-bottom: 2px solid #2E2E3A;
}

.teams-table th:nth-child(2) { width: 55%; }
.teams-table th:nth-child(3) { width: 25%; }


/* Corps */
.teams-table tbody tr {
  border-bottom: 2px solid #2E2E3A;
  transition: background-color 0.2s;
}

.teams-table tbody tr:hover {
  background-color: #252525;
}

.teams-table td {
  padding-left: 20px;
}

/* Alternance */
.teams-table tbody tr:nth-child(even) {
  background-color: #202020;
}

.year-selector {
  text-align: center;
  margin-bottom: 20px;
}

.year-selector label {
  color: #E6E6E6;
  margin-right: 10px;
}

.year-selector select {
  padding: 8px 12px;
  background: #1A1A1A;
  color: #E6E6E6;
  border: 2px solid #FF1E1E;
  border-radius: 5px;
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.year-selector select:focus {
  outline: none;
  border-color: #ff4d4d;
}

/* Cellule Écurie : alignement horizontal logo + texte */
.team-cell {
  padding: 20px 15px;
}

.team-wrapper {
  display: flex;
  align-items: center; /* aligne verticalement le logo et le nom */
  gap: 10px; /* espace entre logo et texte */
}

/* Logo d’écurie */
.team-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  display: block;
}

#diff-points {
  color: #7a7a7a;
  display: inline-block;
  margin-left: 20px;
}

#position{
  font-size: 1.25rem;
  font-weight: bold;
}

/* Responsive mobile */
@media (max-width: 768px) {
  .teams-table th, .teams-table td {
    padding: 10px 12px;
    font-size: 0.9rem;
  }
}
