<div class="card standings-card">
  <div class="card-header">
    <h2>
      <i class="fa-solid fa-trophy"></i>
      {{ type === 'drivers' ? 'Championnat Pilotes' : 'Championnat Équipes' }}
    </h2>

    <a [routerLink]="type === 'drivers' ? '/driver/standings' : '/team/standings'" class="see-more">
      Tout voir <i class="fa-solid fa-arrow-right"></i>
    </a>
  </div>

  <div class="list-container">

    @for (item of top5; track item.position){
      <div class="top-list">
        <div class="row-item" [ngClass]="'rank-' + item.position">
          <div class="rank-box">{{ item.position }}</div>
          <div class="details">
            @if (isDriver(item)) {
              <span class="name">{{ item.fullName }}</span>
              <div class="sub-info">
                <img src="/logos/{{ item.constructorId }}.avif" alt="logo" class="mini-logo">
                <span class="team-name">{{ item.team }}</span>
              </div>
            }

            @if (isTeam(item)) {
              <div class="sub-info team">
                <img src="/logos/{{ item.Team.constructorId }}.avif" alt="logo" class="mini-logo">
                <span class="name">{{ item.Team.constructorName }}</span>
              </div>
            }
          </div>

          <div class="points-box">
            <span class="main-points">{{ +item.points }} <span class="small-points">PTS</span></span>
            @if (item.points_diff && +item.points_diff > 0) {
              <span class="diff-points">- {{ +item.points_diff }}</span>
            }
          </div>

        </div>
      </div>
    }
  </div>
</div>
