.container {
  max-width: 1600px;
  margin: 0 auto;
}

.driver-result-container{
  padding-bottom: 50px;
}

.stats-title{
  margin: 0;
  border-left: 4px solid #FF1E1E;
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: 900;
}

.driver-stats {
  padding: 10px 40px;
}

.driver-standing{
  padding-bottom: 30px;
}

.driver-position {
  display: flex;
  align-items: center;
  gap: 30px;
}

.pos {
  font-size: 2.5rem;
  font-weight: 850;
}

.points {
  font-size: 2.5rem;
  font-weight: 850;
  color: rgba(163, 163, 163, 0.69);
}

.race-stat,
.sprint-stat{
  padding: 0 40px 50px;
}

.race-stat > div,
.sprint-stat > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.race-stat span:first-child,
.sprint-stat span:first-child {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 1px;
}

.race-stat span:last-child,
.sprint-stat span:last-child{
  font-size: 1.2rem;
  font-weight: 700;
}

.race-stat > div:last-child,
.sprint-stat > div:last-child {
  border-bottom: none;
}

.pos-1 .pos {
  background: linear-gradient(45deg, #ffd700, #ffef8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pos-2 .pos {
  background: linear-gradient(45deg, #c0c0c0, #f5f5f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pos-3 .pos {
  background: linear-gradient(45deg, #CD7F32, #cd9054);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mercedes {--team-color: #00d2be; .driver-number {color: #000000;-webkit-text-stroke: 2px white;} }
.ferrari { --team-color: #dc0000; --driver-number: #fff; }
.red_bull {--team-color: #1e41ff; --driver-number: #e4202d; .driver-number{ letter-spacing: -6px;}}
.mclaren { --team-color: #ff8700; --driver-number: #ff8700; }
.aston_martin { --team-color: #006f62; --driver-number: #fff; }
.alpine { --team-color: #2293d1; --driver-number: #fff; .driver-number{ -webkit-text-stroke: 2px #f38fb9 }}
.haas { --team-color: #ffffff; --driver-number: #D3172B; }
.rb {--team-color: #6692ff;
  .driver-number {color: #fff; -webkit-text-stroke: 2px var(--team-color);letter-spacing: -8px;}
  .driver-team-img{filter: brightness(0) invert(1);}
}
.williams { --team-color: #005aff; --driver-number: #fff; .driver-number{ font-style: italic }}
.sauber { --team-color: #52e252; --driver-number: #52e252; .driver-number{ font-style: italic } }
.alphatauri { --team-color: #002841; .driver-team-img{ filter: brightness(0) invert(1);} }
.alfa {
  --team-color: #88172a;
  --driver-number: #88172a;
  .driver-team-img{ filter: brightness(0) invert(1);}
  .driver-number{font-style: italic}
}
