@if (driver) {
  <div class="container">
    <app-driver-hero
      [season]="season"
      [driver]="driver">
    </app-driver-hero>

    <div class="driver-season">
      <h1 class="stats-title">Saison - {{ season }}</h1>
      <div class="driver-stats">
        <div class="driver-standing-container">
          <div class="driver-standing">
            <h2>Classement championnat</h2>
            <div class="driver-position" [ngClass]="'pos-' + driver.position">
              <span class="pos">{{ driver.position }}{{ driver.position === '1' ? 'er' : 'ème' }}</span>
              <span class="points">{{ +driver.points }} pts</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="driver-result-container">
      <h1 class="stats-title">Résultat saison</h1>
      <div class="table-result">
        <app-race-table-result
          [seasonResult]="seasonResult">
        </app-race-table-result>
      </div>
    </div>

    <h1 class="stats-title">Statistique</h1>
    <app-stats-section
    [stats]="driver">
    </app-stats-section>
  </div>
}
