@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Racing+Sans+One&display=swap');

body{
  margin: 0;
  background-color: #090b10;
  color: #E6E6E6;
  font-family: "Orbitron", sans-serif;
}
