.table-container {
  margin: 0 auto 100px;
  max-width: 1200px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #2b2b37;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  overflow-x: auto;
}

.table-common {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}

.table-common thead {
  background-color: #15151e;
  border-bottom: 3px solid #FF1E1E;
}

.table-common th {
  padding: 15px 20px;
  text-align: left;
  font-weight: 600;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #a6a8ae;
}

.table-common th:nth-child(4),
.table-common th:nth-child(5){
  padding: 20px 0;
}

.table-common tbody tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  transition: background-color 0.2s ease;
}

.table-common tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-common tbody tr:last-child {
  border-bottom: none;
}

.table-common td {
  padding: 12px 20px;
  font-size: 1rem;
  color: #fff;
  vertical-align: middle;
}

.table-common td:first-child,
.table-common th:first-child {
  text-align: center;
  font-weight: 700;
  width: 60px;
}

tbody tr:nth-child(1) td:first-child { color: #f5c400; }
tbody tr:nth-child(2) td:first-child { color: #e0e0e0; }
tbody tr:nth-child(3) td:first-child { color: #cd7f32; }

.driver-cell {
  display: flex;
  align-items: center;
  gap: 15px;
}

.flag-icon {
  width: 24px;
}

.team-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.team-logo {
  width: 40px;
  height: 30px;
  object-fit: contain;
}

.team-name {
  font-size: 0.95rem;
  color: #c0c0c0;
  font-weight: 500;
}

.points-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 1.1rem;
}


#diff-points {
  font-size: 0.9rem;
  color: #a3a3a3;
  font-weight: 400;
  padding: 2px 6px;
  border-radius: 4px;
}

.standing_evo {
  font-size: 0.9rem;
  font-weight: 700;
}

.driver-full {
  display: inline;
}

.driver-short {
  display: none;
}

.evo-positive { color: #2ecc71; }
.evo-negative { color: #e74c3c; }
.evo-null { color: #4b5563; }


@media (max-width: 768px) {
  .table-container {
    margin: 0 10px 50px;
    border-radius: 8px;
  }

  .table-common th,
  .table-common td {
    padding: 12px 10px;
    font-size: 0.9rem;
  }

  .team-logo { display: none; }

  .driver-fullname { font-size: 1rem; }

  .driver-full {
    display: none;
  }

  .driver-short {
    display: inline;
    font-weight: 600;
  }

  .driver-cell .flag-icon {
    font-size: 1.2rem;
  }
}
