.table-container {
  margin: 0 auto 100px;
  max-width: 1200px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #15151e;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  overflow-x: auto;
}

.table-common {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  white-space: nowrap;
}

.table-common thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #1c1f2e;
}

.table-common th {
  padding: 15px ;
  text-align: left;
  font-weight: 600;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 3px solid #FF1E1E;
}

.table-common th:nth-child(4),
.table-common th:nth-child(5){
  padding: 20px 0;
}

.table-common tbody tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  transition: background-color 0.2s ease;
}

.table-common tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-common tbody tr:last-child {
  border-bottom: none;
}

.table-common td {
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  vertical-align: middle;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.table-common td:first-child,
.table-common th:first-child {
  text-align: center;
  font-weight: 700;
  width: 70px;
}

tbody tr:nth-child(1) td:first-child { color: #f5c400; }
tbody tr:nth-child(2) td:first-child { color: #e0e0e0; }
tbody tr:nth-child(3) td:first-child { color: #cd7f32; }

.flag-icon {
  width: 24px;
  margin-right: 1rem;
}

.team-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.team-logo {
  width: 40px;
  height: 30px;
  object-fit: contain;
}

.team-name {
  font-size: 0.95rem;
  color: #c0c0c0;
  font-weight: 500;
}

.points-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 1.1rem;
}


#diff-points {
  font-size: 0.9rem;
  color: #a3a3a3;
  font-weight: 400;
  padding: 2px 6px;
  border-radius: 4px;
}

.standing_evo {
  font-size: 0.9rem;
  font-weight: 700;
}

.driver-full {
  display: inline;
}

.driver-short {
  display: none;
}

.pos-cell {
  width: 80px;
  padding: 10px 5px;
}

.pos-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.rank {
  font-size: 1.1rem;
  font-weight: 800;
  color: #fff;
  min-width: 25px;
  text-align: right;
}


.trend {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 30px;
}


.trend.up {
  color: #2ecc71;
}

.trend.down {
  color: #e74c3c;
}


@media (max-width: 768px) {
  .table-common th,
  .table-common td {
    font-size: 0.9rem;
  }

  .team-logo { display: none; }

  .driver-fullname { font-size: 1rem; }

  .driver-full {
    display: none;
  }

  .driver-short {
    display: inline;
    font-weight: 600;
  }

  .driver-cell .flag-icon {
    font-size: 1.2rem;
    padding-left: 15px;
  }

  .driver-cell{
    display: table-cell;
    border-left: solid 4px var(--team-color);
  }

  .teams-table .team-cell{
    padding-left: 1rem;
    border-left: solid 4px var(--team-color);
  }

  .table-common td:first-child,
  .table-common th:first-child {
    width: 30px;
  }
}

.mercedes { --team-color: #00d2be; }
.ferrari { --team-color: #dc0000; }
.red_bull { --team-color: #1e41ff; }
.mclaren { --team-color: #ff8700; }
.aston_martin { --team-color: #006f62; }
.alpine { --team-color: #2293d1; }
.haas { --team-color: #ffffff; }
.rb { --team-color: #6692ff; }
.williams { --team-color: #005aff; }
.sauber { --team-color: #52e252; }
.alfa { --team-color: #88172a; }
.alphatauri { --team-color: #002841; }
