<div class="table-container">
  <table class="table-common" [ngClass]="tableType + '-table'">
    <thead>
    <tr>
      @for (col of columns; track col) {
        @if (col !== 'Évo.') {
          <th [class.mobile-hidden]="col === 'Écurie' && tableType !== 'teams'">
            {{ col }}
          </th>
        }
      }
    </tr>
    </thead>
    <tbody>
      @if (isLoading) {
        <tr class="loading-row">
          <td colspan="10" class="loading-cell">
            <div class="loading-wrapper">
              <div class="spinner"></div>
            </div>
          </td>
        </tr>
      }

    @else {
      @for (row of data; track $index) {
        <tr>
          @if (columns.includes('Pos.')) {
            <td class="pos-cell">
              <div class="pos-wrapper">
                <span class="rank">{{ row.position }}</span>
                @if (row.evolution > 0){ <span class="trend up"><i class="fa-solid fa-caret-up"></i> {{ row.evolution }}</span> }
                @else if (row.evolution < 0){ <span class="trend down"><i class="fa-solid fa-caret-down"></i> {{ Math.abs(row.evolution) }}</span> }
              </div>
            </td>
          }

          @if (columns.includes('Pilote')) {
            <td class="driver-cell" [ngClass]="row.constructorId">
              <span class="fi fi-{{ getDriverFlag(row.nationality) }} flag-icon"></span>
              <span class="driver-full">{{ row.fullName }}</span>
              <span class="driver-short">{{ row.familyName || getLastName(row.fullName) }}</span>

              <div class="driver-info-group">
                <span class="driver-team-mobile">{{ row.team }}</span>
              </div>
            </td>
          }

          @if (columns.includes('Écurie')) {
            <td class="team-cell"
                [class.mobile-hidden]="tableType !== 'teams'"
                [ngClass]="tableType === 'teams' ? row.Team.constructorId : ''">

              <div class="team-wrapper">
                @if (tableType === 'teams') {
                  <img src="/logos/{{ row.Team.constructorId }}.avif" class="team-logo" alt="">
                  <span class="team-name">{{ row.Team.constructorName }}</span>
                } @else {
                  <img src="/logos/{{ row.constructorId }}.avif" class="team-logo" alt="">
                  <span class="team-name">{{ row.team }}</span>
                }
              </div>
            </td>
          }

          @if (columns.includes('Points')) {
            <td>
                <span class="points-wrapper">
                  {{ +row.points }}
                  @if (row.points_diff > 0) {
                    <span id="diff-points"> -{{ +row.points_diff }} </span>
                  }
                </span>
            </td>
          }
        </tr>
      }
    }
    </tbody>
  </table>
</div>
