.table-container {
  margin: 0 auto 100px;
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #2b2b37;
}

.table-common {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-common thead {
  background-color: #1c1c23;
  border-bottom: 4px solid #FF1E1E;
}

.table-common th {
  padding: 18px;
  text-align: left;
  font-weight: 700;
  font-size: 1.05rem;
  text-transform: uppercase;
  color: #E6E6E6;
  border-bottom: 2px solid #2E2E3A;
}

.drivers-table th:nth-child(1),
.drivers-table td:nth-child(1) {
  width: 5%;
  text-align: center;
}
.drivers-table th:nth-child(2),
.drivers-table td:nth-child(2) {
  width: 30%;
  text-align: left;
  padding-left: 30px;
}
.drivers-table th:nth-child(3),
.drivers-table td:nth-child(3) {
  width: 35%;
  text-align: left;
  padding-left: 10px;
}
.drivers-table th:nth-child(4),
.drivers-table td:nth-child(4) {
  width: 10%; text-align: left; padding-left: 5px;
}

.teams-table th:nth-child(1),
.teams-table td:nth-child(1) {
  width: 5%; text-align: center;
}
.teams-table th:nth-child(2),
.teams-table td:nth-child(2) {
  width: 40%; text-align: left;
  padding-left: 7rem;
}

.teams-table th:nth-child(3),
.teams-table td:nth-child(3) {
  width: 40%; text-align: left;
  padding-left: 7rem;
}

.teams-table th:nth-child(4),
.teams-table td:nth-child(4) {
  width: 10%;
  text-align: left;
}

.table-common td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-common tbody tr {
  border-bottom: 2px solid #2E2E3A;
  transition: background-color 0.2s;
}

.table-common tbody tr:hover {
  background-color: #151622;
}

.table-common td {
  padding: 6px;
  font-size: 1.2rem;
}

.team-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team-logo {
  width: 45px;
  height: 45px;
  object-fit: contain;
  display: block;
}

.team-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flag-icon {
  margin-right: 10px;
}

.points-wrapper {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

#diff-points {
  color: #7a7a7a;
  display: inline-block;
  margin-left: 10px;
}

#position {
  font-size: 1.25rem;
  font-weight: bold;
}

.driver-lastname {
  display: none;
}

.evo-positive {
  color: #00ff00;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 2px;
}

.evo-negative {
  color: #ff0000;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 2px;
}

.evo-null{
  padding-left: 15px;
}

