.session-card {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1b1e;
  color: #E6E6E6;
  padding: 35px 20px;
  transition: background-color 0.3s ease-in-out;
  flex-wrap: nowrap;
}

.session-card:hover {
  background-color: #2b2b37;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 15px;
  width: 50px;
  min-width: 50px;
}

.date .day {
  font-size: 1.5rem;
  line-height: 1;
}

.date .month {
  font-size: 1rem;
}

.separator {
  width: 2px;
  height: 50px;
  background-color: #4c4c4c;
  margin-right: 15px;
}

.session-info {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}

.session-info .title {
  padding-left: 10px;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1;
  line-height: 1.2;
}

.session-info .time {
  font-weight: 700;
  color: #ccc;
  font-size: 1.3rem;
  padding-right: 20px;
  white-space: nowrap;
  flex-shrink: 0;
  text-align: right;
}

.session-card.free-practice { border-left: 13px solid #E6E6E6; }
.session-card.sprint { border-left: 13px solid #145bc6; }
.session-card.quali { border-left: 13px solid #9a4dff; }
.session-card.race { border-left: 13px solid #ff2a2a; }


@media (max-width: 768px) {
  .session-card {
    padding: 15px;
    border-left-width: 8px;
    gap: 10px;
    flex-wrap: nowrap;
  }


  .date {
    transform: scale(0.9);
    margin-right: 5px;
  }

  .session-info {
    gap: 10px;
  }

  .session-info .title {
    padding-left: 0;
    font-size: 1.1rem;
    display: block;
  }

  .session-info i {
    font-size: 1rem;
    padding-right: 6px;
    display: inline-block;
  }

  .session-info .time {
    font-size: 1rem;
    padding-right: 0;
    color: #a0a0a0;
    font-weight: 600;
    margin-left: auto;
  }
}
